# Database (sqlite | mysql | postgres)
DB_TYPE=sqlite
DB_DATABASE=corvozap.sqlite
DB_SYNCHRONIZE=true
DB_DROP_SCHEMA=false

# MySQL / Postgres
# DB_HOST=localhost
# DB_PORT=3306
# DB_USERNAME=root
# DB_PASSWORD=secret
# DB_DATABASE=corvozap

# Postgres only
# DB_SCHEMA=public
# DB_SSL=false
